<!DOCTYPE html>
<html>
<head xmlns:wb="http://open.weibo.com/wb">
  <title>Extalk</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-responsive.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>  
  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=4096467606" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  
   <div class="wrapper">
<%= render 'layouts/header' %>
   </div>
<%= yield %>
</body>
</html>

<style>
   .wrapper {
      
   }
</style>