<h1>Listing members</h1>

<table>
  <thead>
    <tr>
      <th>Language</th>
      <th>Wish lang</th>
      <th>Country</th>
      <th>City</th>
      <th>Interest</th>
      <th>Weixin</th>
      <th>Skype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.language_id %></td>
        <td><%= member.wish_lang %></td>
        <td><%= member.country %></td>
        <td><%= member.city %></td>
        <td><%= member.interest %></td>
        <td><%= member.weixin %></td>
        <td><%= member.skype %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
